.themeSwitch {
    --toggle-size: 10px;
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 1.9em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.themeSwitch, .themeSwitch *, .themeSwitch *::before, .themeSwitch *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
    margin-left: auto;
}

.themeSwitchContainer {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0em -0.062em 0.062em rgba(0,0,0,0.25), 0em 0.062em 0.125em rgba(255,255,255,0.94);
    transition: var(--transition);
    position: relative;
}

.themeSwitchContainer::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    box-shadow: 0 0.05em 0.187em rgba(0,0,0,0.25) inset;
    border-radius: var(--container-radius);
}

.themeSwitchCheckbox {
    display: none;
}

.themeSwitchCircleContainer {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    display: flex;
    transition: var(--circle-transition);
    pointer-events: none;
}

.themeSwitchSunMoonContainer {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    overflow: hidden;
    transition: var(--transition);
}

.themeSwitchMoon {
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    transition: var(--transition);
    position: relative;
}

.themeSwitchSpot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
}

.themeSwitchSpot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.themeSwitchSpot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
}

.themeSwitchClouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color);
    transition: var(--transition);
}

.themeSwitchStarsContainer {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    transition: var(--transition);
}

.themeSwitchCheckbox:checked + .themeSwitchContainer {
    background-color: var(--container-night-bg);
}

.themeSwitchCheckbox:checked + .themeSwitchContainer .themeSwitchCircleContainer {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.themeSwitchCheckbox:checked + .themeSwitchContainer .themeSwitchMoon {
    transform: translateX(0);
}

.themeSwitchCheckbox:checked + .themeSwitchContainer .themeSwitchClouds {
    bottom: -4.062em;
}

.themeSwitchCheckbox:checked + .themeSwitchContainer .themeSwitchStarsContainer {
    top: 50%;
    transform: translateY(-50%);
}
